<template>
  <q-page>
    <div class="row">
      <Player />
    </div>

    <div class="row justify-center q-pt-lg q-pb-lg">
      <q-btn
        size="lg"
        color="primary"
        class="q-pa-lg self-center"
        icon="library_books"
        label="Você antenado" />
    </div>

    <div class="row justify-center">
      <Banners />
    </div>

    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn
        round
        size="xl"
        color="primary"
        to="/order"
        icon="message"
      />
    </q-page-sticky>
  </q-page>
</template>

<style lang="stylus" scoped>
@import "~variables"

.q-layout-page
  background $tertiary
</style>

<script>
import Player from '../components/Player.vue'
import Banners from '../components/Banners.vue'

export default {
  name: 'PageBroadcast',
  components: {
    Player,
    Banners
  }
}
</script>
