<template>
  <q-page>
    <div class="q-pa-md">
      <q-input v-model="name" float-label="Nome" />
      <q-input v-model="email" float-label="E-mail" />
      <q-input v-model="artist" float-label="Artista/Cantor" />
      <q-input type="textarea" rows="3" v-model="message" float-label="Mensagem" />

      <q-btn type="submit" class="q-mt-md">Enviar</q-btn>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageOrder',
  data () {
    return {
      name: '',
      email: '',
      artist: '',
      message: ''
    }
  }
}
</script>
