<template>
  <q-carousel arrows="true">
    <q-carousel-slide>
      <img src="http://placehold.it/500x200" alt="">
    </q-carousel-slide>
    <q-carousel-slide>
      <img src="http://placehold.it/500x200" alt="">
    </q-carousel-slide>
    <q-carousel-slide>
      <img src="http://placehold.it/500x200" alt="">
    </q-carousel-slide>
  </q-carousel>
</template>

<script>
export default {
  name: 'Banners'
}
</script>
