<template>
  <div class="player-wrapper">
    <SpeakerCard />
    <q-btn
      class="toggle-play-button q-mt-md"
      round
      @click="togglePlay"
      :icon="playing ? 'pause' : 'play_arrow'"
    ></q-btn>

    <q-list class="volume-control">
      <q-item>
        <q-item-side icon="volume_down" />
        <q-slider color="secondary" v-model="volume" :min="0" :max="100" label />
        <q-item-side right icon="volume_up" />
      </q-item>
    </q-list>
  </div>
</template>

<style lang="stylus">
@import "~variables"

.player-wrapper
  width 100%
  display flex
  justify-content center
  align-items center
  flex-direction column

  .toggle-play-button
    color $secondary
    box-shadow none
    font-size 5em !important
    width 1.5em
    height 1.5em

  .volume-control
    display flex
    width calc(100% - 60px)
    margin 30px
    border none

    .q-item
      width 100%
</style>

<script>
import SpeakerCard from '../components/SpeakerCard.vue'

export default {
  name: 'Player',
  components: {
    SpeakerCard
  },

  methods: {
    togglePlay () {
      this.$store.commit('audio/togglePlaying')
    }
  },

  computed: {
    volume: {
      get () {
        return this.$store.state.audio.volume * 100
      },

      set (volume) {
        this.$store.commit('audio/setVolume', volume)
      }
    },

    playing: {
      get () {
        console.log()
        return this.$store.state.audio.playing
      }
    }
  },

  mounted () {
    this.$store.commit('audio/setAudio', new Audio('http://radios.emid.com.br:9972/stream;'))
  }
}
</script>
