<template>
  <q-card class="q-mt-xl">
    <div class="row justify-center" v-if="loading">
      <q-spinner color="white" size="50" />
    </div>
    <q-item v-if="!loading">
      <q-item-side :avatar="avatar"/>
      <q-item-main>
        <q-item-tile label>Mistura 104</q-item-tile>
        <q-item-tile sublabel>{{ name }}</q-item-tile>
      </q-item-main>
    </q-item>
  </q-card>
</template>

<style lang="stylus">
@import "~variables"

.q-card
  box-shadow none

  .q-spinner
    margin 0 auto

  .q-item-label
    color $secondary

  .q-item-sublabel
    color rgba(255, 255, 255, 0.8)
</style>

<script>
import axios from 'axios'

export default {
  name: 'SpeakerCard',
  data () {
    return {
      loading: true,
      name: '',
      avatar: '/statics/boy-avatar.png'
    }
  },

  mounted () {
    axios.get('http://51.68.231.41/acesafm-api/api/speakers')
      .then(response => {
        this.name = response.data.title
        this.avatar = response.data.foto_locutor
        this.loading = false
      })
  }
}
</script>
