<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
        :inverted="$q.theme === 'ios'"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          icon="menu" />

        <q-toolbar-title>
          Acesa FM  104.9
        </q-toolbar-title>

        <q-btn
          flat dense round
          v-if="$route.path == '/'"
          @click="share()"
          aria-label="Compartilhe"
          icon="share" />

        <q-btn
          flat dense round
          v-if="$route.path != '/'"
          to='/'
          aria-label="Ouça ao vivo"
          icon="play_arrow" />
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-list-header>Acesa FM LOGO</q-list-header>
        <q-item to="/">
          <q-item-side icon="play_arrow" />
          <q-item-main label="Ouça ao vivo" />
        </q-item>
        <q-item to="/order">
          <q-item-side icon="library_music" />
          <q-item-main label="Peça sua música" />
        </q-item>
        <q-item to="/schedules">
          <q-item-side icon="radio" />
          <q-item-main label="Programação" />
        </q-item>
        <q-item to="/news">
          <q-item-side icon="library_books" />
          <q-item-main label="Notícias" />
        </q-item>
        <q-item @click.native="openURL('https://api.whatsapp.com/send?phone=5541988401998')">
          <q-item-side icon="fab fa-whatsapp" />
          <q-item-main label="WhatsApp" />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<style lang="stylus">
.q-toolbar-title
  color #ffc000
</style>

<script>
import { openURL } from 'quasar'

export default {
  name: 'AppLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },

  methods: {
    openURL,
    share () {
      window.socialmessage.send({
        text: 'Acesa FM 104.9',
        url: 'http://acesafm.com.br'
      })
    }
  }
}
</script>
